<section class="intro">
    <div class="bg-image h-100" >
      <div class="mask d-flex align-items-center h-100">
        <div class="container">
          <div class="text-center pt-5">      
            <h1 style="margin-bottom:15px;">Enquiry List</h1>          
          </div>
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="card">
                <div class="card-body p-0">
                  <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative; height: 350px; ">
                    <table class="table table-striped mb-0">
                      <thead style="background-color: #3081d7;">
                        <tr>
                          <th scope="col">ID</th>
                          <th scope="col">Name</th>
                          <th scope="col">Age</th>
                          <th scope="col">Email Id</th>                          
                          <th scope="col">Gender</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let e of ellist"> 
               
                          <td>{{e.eId}}</td>  
                          <td>{{e.name}}</td> 
                          <td>{{e.age}}</td> 
                          <td>{{e.emailId}}</td> 
                          <td>{{e.gender}}</td> 
                                              
                                   
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

